@{
    ViewBag.Title = "Sell";
}

<div class="jumbotron">
    <h1 class="text-center">Choose what do you want to sell:</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">House</h2>
        <a href='@Url.Action("CreateHouse", "Sell")'>
            <img class="img-responsive" src="https://68.media.tumblr.com/6b7fd989156763897613d1eac2b54fe8/tumblr_inline_nijup0rbJi1sfaoq1.jpg" alt="Click here to check the last added houses." />
        </a>
        <p><a class="btn btn-block btn-success text-right" href='@Url.Action("CreateHouse", "Sell")'>Submit a FREE Ad &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Apartment</h2>
        <a href='@Url.Action("CreateApartment", "Sell")'>
            <img class="img-responsive" src="http://www.hotelroomsearch.net/im/hotels/sm/mo-da-apartments-10.jpg" alt="Click here to check the last added apartments." />
        </a>
        <p><a class="btn btn-block btn-success" href='@Url.Action("CreateApartment", "Sell")'>Submit a FREE Ad &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Land</h2>
        <a href='@Url.Action("CreateLand", "Sell")'>
            <img class="img-responsive" src="http://www.araliyalandsandhomes.lk/upload_images/property/property_1374138621-Land3.jpg" alt="Click here to check the last added lands." />
        </a>
        <p><a class="btn btn-block btn-success" href='@Url.Action("CreateLand", "Sell")'>Submit a FREE Ad &raquo;</a></p>
    </div>
</div>
