@model LandsSystem.Models.BuyDetailsModel.ApartmentDetailsModel

@{
    ViewBag.Title = "Details";
}

<div class="row mt-60">
    <div class="col-md-6">
        <img src="@Model.ImageUrl" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <p class="text-center breadcrumb">@Model.Address (@Model.YearOfBuilt)</p>
        <p class="text-center breadcrumb">Apartment Area: @Model.ApartmentArea m&#178;</p>
        <p class="text-center breadcrumb">Terrace Area: @Model.TerraceArea m&#178;</p>
        <p class="text-center breadcrumb">Floor: @Model.Floor</p>
        <p class="text-center breadcrumb">Livingrooms: @Model.LivingRooms</p>
        <p class="text-center breadcrumb">Bedrooms: @Model.Bedrooms</p>
    </div>
    <div class="col-md-3">
        <p class="text-center breadcrumb">Bathrooms: @Model.Bathroom</p>
        <p class="text-center breadcrumb">Basement: @Model.HaveBasement</p>
        <p class="text-center breadcrumb">Elevator: @Model.HaveElevator</p>
        <p class="text-center breadcrumb">Garage: @Model.HaveGarage</p>
        <p class="text-center breadcrumb">Park Slots: @Model.ParkSlots</p>
        <p class="text-right"><a href="#" class="btn btn-success">Buy</a></p>
    </div>
</div>