@model IEnumerable<LandsSystem.Models.HomeBuyModel.ApartmentBuyModel>

@{
    ViewBag.Title = "Apartments";
}

<h2 class="text-center mt-60">Apartments for sale - Page @ViewBag.CurrentPage</h2>

@if (!Model.Any())
{
    <h2 class="text-center">No more apartments!</h2>
}


@foreach (var apartment in Model)
{
    <div class="row">
        <div class="col-sm-6 mt-60">
            <img src="@apartment.ApartmentImageUrl" class="img-responsive" />
        </div>
        <div class="col-sm-6 mt-60">
            <p class="text-left breadcrumb">@apartment.ApartmentAddress (@apartment.ApartmentYearOfBuilt г.)</p>
            <p class="text-left breadcrumb">Apartment Area: @apartment.ApartmentArea m&#178;</p>
            <p class="text-left breadcrumb">Terrace Area: @apartment.TerraceArea m&#178;</p>
            <p class="text-left breadcrumb">@apartment.ApartmentPrice BGN</p>
            <br />
            <a href="/Buy/ApartmentDetails/@apartment.Id" class="btn btn-success">More Info &raquo;</a>
        </div>
    </div>
}

<div class="text-center mt-60">
    <a href="/Buy/Apartments?page=@(ViewBag.CurrentPage - 1)" class="btn btn-success @(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)"><< Previous</a>
    <a href="/Buy/Apartments?page=@(ViewBag.CurrentPage + 1)" class="btn btn-success @(!Model.Any() || Model.Count() < 5 ? "disabled" : string.Empty)">Next >></a>
</div>