@model IEnumerable<LandsSystem.Models.HouseBuyModel>

@{
    ViewBag.Title = "Houses";
}

@foreach(var house in Model)
{
    <div class="row">
        <div class="col-sm-6 mt-60">
            <img src="@house.HouseImageUrl" class="img-responsive" />
        </div>
        <div class="col-sm-6 mt-60">
            <p class="text-left breadcrumb">@house.HouseAddress (@house.HouseYearOfBuilt г.)</p>
            <p class="text-left breadcrumb">Land Area: @house.LandArea m&#178;</p>
            <p class="text-left breadcrumb">House Area: @house.HouseArea m&#178;</p>
            <p class="text-left breadcrumb">@house.HousePrice BGN</p>
            <br />
            <a href="/Buy/HouseDetails/@house.Id" class="btn btn-success">More Info &raquo;</a>
        </div>
    </div>
}