@model List<LandsSystem.Models.BuyDetailsModel.HouseDetailsModel>

@{
    ViewBag.Title = "Houses";
}

<h2 class="text-center mt-60">Houses for sale - Page @ViewBag.CurrentPage</h2>

@if (!Model.Any())
{
    <h2 class="text-center">No more houses!</h2>
}

@using (Html.BeginForm("Houses", "Buy", FormMethod.Get))
{
    <div class="text-center">
        <input type="text" class="form-control" name="search" style="display:inline-block" value="@Request.QueryString["search"]" />
        <input type="submit" value="Search" class="btn btn-success" />
    </div>
}

@foreach(var house in Model)
{
    <div class="row">
        <div class="col-sm-6 mt-60">
            <img src="@house.ImageUrl" class="img-responsive" />
        </div>
        <div class="col-sm-6 mt-60">
            <h3 class="text-left breadcrumb">@house.Address (@house.YearOfBuilt)</h3>
            <h4 class="text-left breadcrumb">@house.Description</h4>
            <p class="text-left breadcrumb">Land Area: @house.LandArea m&#178;</p>
            <p class="text-left breadcrumb">House Area: @house.HouseArea m&#178;</p>
            <p class="text-left breadcrumb">@house.Price BGN</p>
            <h6 class="text-right">Posted on: @house.CreationDate</h6>
            <h6 class="text-right">By: @house.FullName</h6>
            <br />
            <a href="@Url.Action("HouseDetails", "Buy", house)" class="btn btn-success">More Info &raquo;</a>
        </div>
    </div>
}
<div class="text-center mt-60">
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
    <a href="/Buy/Houses?page=@(ViewBag.CurrentPage - 1)" class="btn btn-success @(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)"><< Previous</a>
    <a href="/Buy/Houses?page=@(ViewBag.CurrentPage + 1)" class="btn btn-success @(!Model.Any() || Model.Count() < 5 ? "disabled" : string.Empty)">Next >></a>
</div>