@{ 
    ViewBag.Title = "Buy";
}

<div class="jumbotron">
    <h1 class="text-center">What are you searching for?</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">Houses</h2>
        <a href="@Url.Action("Houses","Buy")">
            <img class="img-responsive" src="http://media.philstar.com/images/the-philippine-star/business/real-estate/20150626/Bloomfields-Collection-1.jpg" alt="Click here to check the last added houses." />
        </a>
        <p><a class="btn btn-block btn-success text-right" href="@Url.Action("Houses","Buy")">See more houses &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Apartments</h2>
        <a href="@Url.Action("Apartments","Buy")">
            <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/originals/a0/cb/4c/a0cb4c2e8e36f800292b1ea981f1a257.jpg" alt="Click here to check the last added apartments." />
        </a>
        <p><a class="btn btn-block btn-success" href="@Url.Action("Apartments","Buy")">See more apartments &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Lands</h2>
        <a href="@Url.Action("Lands","Buy")">
            <img class="img-responsive" src="http://mopmidatlantic.com/wp-content/uploads/2016/08/9-787x591-600x400.jpg" alt="Click here to check the last added lands." />
        </a>
        <p><a class="btn btn-block btn-success" href="@Url.Action("Lands","Buy")">See more lands &raquo;</a></p>
    </div>
</div>