@model List<LandsSystem.Models.BuyDetailsModel.LandDetailsModel>

@{
    ViewBag.Title = "Lands";
}

<h2 class="text-center mt-60">Lands for sale - Page @ViewBag.CurrentPage</h2>

@if (!Model.Any())
{
    <h2 class="text-center">No more lands!</h2>
}


@foreach (var land in Model)
{
    <div class="row">
        <div class="col-sm-6 mt-60">
            <img src="@land.ImageUrl" class="img-responsive" />
        </div>
        <div class="col-sm-6 mt-60">
            <p class="text-left breadcrumb">@land.Address</p>
            <p class="text-left breadcrumb">Land Area: @land.Area m&#178;</p>
            <p class="text-left breadcrumb">@land.Price BGN</p>
            <br />
            <a href="@Url.Action("LandDetails", "Buy", land)" class="btn btn-success">More Info &raquo;</a>
        </div>
    </div>
}

<div class="text-center mt-60">
    <a href="/Buy/Lands?page=@(ViewBag.CurrentPage - 1)" class="btn btn-success @(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)">Previous <<</a>
    <a href="/Buy/Lands?page=@(ViewBag.CurrentPage + 1)" class="btn btn-success @(!Model.Any() || Model.Count() < 5 ? "disabled" : string.Empty)">Next >></a>
</div>